.eventCard {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex: 33%;
  margin-bottom: 80px;

  span {
    padding-top: 10px;
    cursor: pointer;
  }

  img {
    width: 350px;
    cursor: pointer;
  }
}
