.container {
  margin: 100px;

  ul {
    list-style: none;
    margin-top: 56px;
  }

  .question {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .answer {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 60px;
  }
}